.custom-popover-content {
  width: 400px;
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab:hover {
  color: #3d2462;
  font-weight: bold;
}

.ant-message {
  z-index: 9999;
}

.ant-menu-item-active,
.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-input-search-button {
  background-color: #08142c !important;
  color: #ffffff !important;
  border-color: #08142c !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #47839d !important;
  border-color: #47839d !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #47839d !important;
  border-color: #47839d !important;
}
